{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Calendar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="calendar-container" style="margin-top: 0px;">
        <div class="calendar-header">
            <button id="todaymove" class="btn btn-light">Today</button>
            <div class="ico-arrow">
                <a id="left" href="#" data-toggle="tooltip" data-placement="top" title="이전">
                    <i class="material-icons">
                        chevron_left
                    </i>
                </a>
                <a id="right" href="#" data-toggle="tooltip" data-placement="top" title="다음">
                    <i class="material-icons">
                        chevron_right
                    </i>
                </a>
            </div>
            
            <span id="year"> </span>년
            &nbsp;
            <span id="months"> </span>월
            <ul class="nav nav-tabs view-tab" id="view" role="tablist">
                <li class="nav-item">
                    <button id="toggleSummary" class="btn btn-light" style="padding: .5rem 1rem; margin-right: auto; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; ">D-Day</button>
                </li>
                <li class="nav-item">
                    <button id="toggleSort" class="btn btn-light" style="padding: .5rem 1rem; margin-right: auto; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; ">마감일순</button>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="tab-month" data-toggle="tab" href="#month" role="tab"
                        aria-controls="month"
                        aria-selected="true">월</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab-day" data-toggle="tab" href="#day" role="tab" aria-controls="day"
                        aria-selected="false">일</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <!-- 달 일정 -->
            <div class="tab-pane active show" id="month" role="tabpanel" aria-labelledby="tab-month">
                <div class="monthly-calendar">
                    <div id="div-list"></div>
                </div>
            </div>
            <!-- 일 일정 -->
            <div class="tab-pane" id="day" role="tabpanel" aria-labelledby="tab-day"></div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>

</body>
<!-- Updated modal form -->
<div class="modal fade" id="registerSchedule" tabindex="-1" role="dialog" aria-labelledby="registerScheduleLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerScheduleLabel">일정 만들기</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label">일정 제목</label>
                        <input type="text" name="title" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group" style="margin-bottom: 0px;">
                        <label class="col-form-label">할 일 목록</label>
                        <div class="subtasks-progress">완료: <span id="completedCount">0</span>/<span id="totalCount">0</span></div>
                        <div id="subtasksContainer"></div>
                        <button type="button" class="btn btn-link" id="addSubtask">+</button>
                    </div>
                    <!-- <div id="memoSection">
                        <button id="toggleMemoButton" type="button">></button>
                        <span> memo</span>
                        <div id="memoContainer" style="display:none;">
                        <textarea id="message-text" class="form-control" placeholder="Enter memo"></textarea>
                        </div>
                    </div> -->
                    <!-- Memo toggle -->
                    <div class="form-group" id="memoToggleGroup">
                        <!-- “> memo” toggle button -->
                        <button type="button"
                                class="btn btn-link p-0 d-flex align-items-center"
                                id="toggleMemo">
                            <i id="memoChevron" class="material-icons">chevron_right</i>
                            <span class="ml-1">메모</span>
                        </button>

                        <!-- real textarea, hidden until the user expands it -->
                        <textarea  id="message-text"
                                class="form-control mt-2"
                                rows="3"
                                placeholder="메모"
                                style="display:none;"></textarea>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">일정 시작 날짜</label>
                                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                    <input type="text" name="start_day" id="start-day" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="material-icons">calendar_today</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">일정 시작 시간</label>
                                <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                    <input type="text" name="start_time" id="start-time" class="form-control datetimepicker-input" data-target="#datetimepicker2"/>
                                    <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="material-icons">access_time</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">일정 종료 날짜</label>
                                <div class="input-group date" id="datetimepicker3" data-target-input="nearest">
                                    <input type="text" name="end_day" id="end-day" class="form-control datetimepicker-input" data-target="#datetimepicker3"/>
                                    <div class="input-group-append" data-target="#datetimepicker3" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="material-icons">calendar_today</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">일정 종료 시간</label>
                                <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                                    <input type="text" name="end_time" id="end-time" class="form-control datetimepicker-input" data-target="#datetimepicker4"/>
                                    <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="material-icons">access_time</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="inlineCheckbox2" value="option2">
                            <label class="form-check-label" for="inlineCheckbox2">하루 종일</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="todoTags" class="col-form-label">태그</label>
                        <input type="text" name="tags" class="form-control" id="todoTags" placeholder="태그 (콤마로 구분)">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">색상 선택</label>
                        <div id="colorSelector">
                            <span class="color-circle" data-color="#4285F4" style="background-color:#4285F4"></span>
                            <span class="color-circle" data-color="#DB4437" style="background-color:#DB4437"></span>
                            <span class="color-circle" data-color="#F4B400" style="background-color:#F4B400"></span>
                            <span class="color-circle" data-color="#0F9D58" style="background-color:#0F9D58"></span>
                            <span class="color-circle" data-color="#AB47BC" style="background-color:#AB47BC"></span>
                            <span class="color-circle" data-color="#00BCD4" style="background-color:#00BCD4"></span>
                            <span class="color-circle" data-color="#FF9800" style="background-color:#FF9800"></span>
                            <span class="color-circle" data-color="#E91E63" style="background-color:#E91E63"></span>
                            <span class="color-circle" data-color="#607D8B" style="background-color:#607D8B"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                        <button type="button" class="btn btn-danger" id="deleteSchedule">삭제</button>
                        <button type="button" class="btn btn-primary" id="create">저장</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End updated modal -->
</html>